html, body {
	height: 98%;
	margin: 5px;
	padding: 0;	
	background: #fff;
}

#header h1 { 
	text-indent: -9999px; /* -- hides the original text --*/
	width: 589px;
	height: 138px;
	margin: 200px auto 60px auto;
}

#admin {
	float: right;
	padding-top: 20px;
	padding-right: 20px;
	font-family: Courier New;
	font-size: 18px;
}

#user {
	float: right;
	padding-top: 20px;
	padding-right: 20px;
	font-family: Courier New;
	font-size: 18px;
}

#editSeries {
	float: right;
	padding-right: 20px;
	font-family: Courier New;
	font-size: 18px;
}
#addSeries {
	float: right;
	padding-right: 30px;
	font-family: Courier New;
	font-size: 18px;
}
#register {
	float: right;
	padding-top: 10px;
	padding-right: 30px;
	font-family: Courier New;
	font-size: 18px;
}

h1 {
	background: transparent url('images/login.png') no-repeat;
}

#login {
text-align:center;
}

#searchTV {
margin-left: 792px;
}

#tvImage {
margin: 100px auto 60px 800px;
}

body {
	border: double;
	min-height: 90%;
}

p {
 font-family: Arial;
 font-size: 18px;
 margin-left: 60px;
}



.btn {
  background: #3498db;
  margin: 80px auto;
  display: block;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#pageContent  {
	margin: 15px 0 0 250px;
	width: 70%;
	background: #ED792C;
	min-height: 92%;
	padding:21px;
	border-top-right-radius: 28px 28px;
	border-bottom-left-radius: 28px 28px;
	border-top-left-radius: 28px 28px;
	border-bottom-right-radius: 28px 28px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* - MS property */ 
}

h2 {
	text-transform: uppercase;
	text-align:center;
	font-family: Courier New;
	font-size: 40px;
	color: #000;
}

#pagemainmenu {
	list-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 76.8%;
	position: relative;
	margin: 0 0 21px -21px;
	height: 30px;
	padding-left:350px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;	
	background: #ED792C;
}

#pagemainmenu > li {
	display: inline-block;
}

#pagemainmenu a {
	font-style: italic;
	display: block;
	float: left;
	padding: 8px 30px;
	font-size:12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	border-right: 2px solid white;	
}

#pagemainmenu a:first-child {
	border-left: 2px solid white;	
	padding-left: 45px;
}

#pagemainmenu a:hover {
	background: #FCB51D;
}

#welcome {
	margin: 60px 190px;
	height: 500px;
}

.button {
	float: right;
	margin-top: -100px;
}